<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="GSMArena Test Suite">
    <test name="Regression">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="module_mainmenu.MainMenuTest"></class>
        </classes>
    </test>
</suite>